<h3><%= job.title %></h3>
<% if !job.applications.count.zero? && job.has_applicant?(current_user.id) %>
  <%= button_to 'Cancel', job_application_path(job, application_by_job(job)), method: :delete %>
<% elsif current_user.role.name == 'applicant' %>
  <%= button_to 'Apply', job_applications_path(job), method: :post %>
<% elsif !current_user.company_id.nil? && job.company_id == current_user.company_id %>
  <%= button_to 'Edit', job_path(job), method: :get %>
<% end %>